body{
    margin: 0;
    padding: 0;
}

canvas{
    background-color: #fbfbfb;
    box-shadow: 5px 5px 5px #bbbbbb;
    border-radius: 15px;
}

.graph data{
    display: none;
}

.infoBox{
    width: 100px;
    border-radius: 5px;
    background-color: #fbfbfb;
    box-shadow: 5px 5px 5px #bbbbbb;
    position: absolute;
    align-items: center;
    display: none;
    text-align: center;
    z-index: 1000;
    padding: 5px;
}

#graph-container-js{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
}