*{
    --taken-top: 25%;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*RED PARTS FOR PARTS TAKEN*/

#taken{
    width: 100%;
    height: 100vh;
}

#taken > div{
    background-color: red;
    position: absolute;
}

#taken > .top{
    width: 100%;
    height: var(--taken-top);
}

#taken > .left{
    width: 92px;
    height: 100%;
}

/*GRID PART*/
#grid{
    position: absolute;
    top: calc(25% - 10px);
    left: 92px;
    background-color: blue;
    width: -moz-available;
    width: -webkit-fill-available;
    height: calc(100% - var(--taken-top));
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    grid-auto-rows: 0px;
    padding: 10px 0 0 10px;
}

.cell{
    background-color: green;
    position: relative;
    margin: 0 10px 10px 0;
}

#grid .icon{
    margin: 10px;
    margin-left: 0px;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -40px;
    font-size: 24px;
    font-weight: bold;
    z-index: 100;
}

/*Widgets*/

#widgetMenu{
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 1000;
}

#widgetMenu .innerMenu{
    width: calc(100% - 50px);
    height: 100%;
    padding: 25px;
    position: relative;
    background-color: purple;
    right: -100%;
    transition: all 1s ease;
    pointer-events: all;
    margin: 0;
    z-index: 100;
}

#widgetMenu .innerSettings{
    width: calc(100% - 50px);
    height: 100%;
    padding: 25px;
    position: absolute;
    background-color: yellow;
    right: -100%;
    top: 0;
    transition: all 0.75s ease;
    pointer-events: all;
    margin: 0;
    z-index: 10;
}

.widget{
    width: 100%;
    height: 150px;
    background-color: #dedede;
    border-radius: 10px;
    box-shadow: -5px 5px 10px #555555;
    margin-bottom: 10px;
}

#widgetMenu .widget.cloned{
    display: none;
}

.cell .widget{
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 5;
}

.cell .widget.selected{
    border: 2px solid orange;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

li{
    list-style: none;   
}

/*JQUERY SORTABLE*/
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}